<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="mb-3">Recipes List</h2>

      <%= link_to "Add New Recipe", new_recipe_path, class: "btn btn-primary mb-3" %>

      <ul class="list-unstyled">
        <% @recipes.each do |recipe| %>
          <li class="d-flex p-3 mb-3 border rounded">
            <div class="flex-grow-1">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <%= link_to recipe.name, recipe_path(recipe), class: "h5 text-dark mr-3" %>
                </div>
                <div>
                  <%= form_with(model: recipe, url: recipe_path(recipe), method: :delete, data: { confirm: "Are you sure you want to delete this recipe?" }) do |form| %>
                    <%= form.submit "Remove", class: "btn btn-danger mt-1" %>
                  <% end %>
                </div>
              </div>
              <p class="recipe_desc"><%= truncate(recipe.description, length: 100, omission: "...") %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
